unbound/
exclude/
3p/
data/
build/
sources/
dnsdata/
scripts/
work/
exclude.*
white.*
blocked.*
rules.*
*.stats
*.md5
md5.*
black.*
*.bak
*-old.txt
personal-referral-white.txt
personal-regex.txt
personal-regex-white.txt
personal-wildcard-rules.txt
statistics.md
active.list*
dead.list*
*.sh
nrds_*-*-*.txt
dgas_*-*-*.txt
submit_pullrequest_here/deny_*.txt
